[submodule ".dotfiles/tag-smu/config/bash-sensible"]
	path = .dotfiles/tag-smu/config/bash-sensible
	url = https://github.com/mrzool/bash-sensible
[submodule ".dotfiles/tag-smu/tmux/plugins/tpm"]
	path = .dotfiles/tag-smu/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".dotfiles/utilities"]
	path = .dotfiles/utilities
	url = https://github.com/nicholasadamou/utilities
[submodule ".dotfiles/tag-smu/tacklebox"]
	path = .dotfiles/tag-smu/tacklebox
	url = https://github.com/justinmayer/tacklebox
[submodule ".dotfiles/tag-smu/tackle"]
	path = .dotfiles/tag-smu/tackle
	url = https://github.com/justinmayer/tackle
[submodule ".dotfiles/tag-smu/z.lua"]
	path = .dotfiles/tag-smu/z.lua
	url = https://github.com/skywind3000/z.lua
[submodule ".dotfiles/modules/preferences/apps/iTerm2/ayu-iTerm"]
	path = .dotfiles/modules/preferences/apps/iTerm2/ayu-iTerm
	url = https://github.com/hwyncho/ayu-iTerm
[submodule ".dotfiles/modules/preferences/apps/alfred/alfred-ayu-mirage"]
	path = .dotfiles/modules/preferences/apps/alfred/alfred-ayu-mirage
	url = https://github.com/michelegera/alfred-ayu-mirage.git
[submodule ".dotfiles/tag-smu/asimov"]
	path = .dotfiles/tag-smu/asimov
	url = https://github.com/stevegrunwell/asimov.git
