<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>4C8B5587-4565-43BE-AE25-27271744F0E8</string>
	<key>darkthemeuid</key>
	<string>theme.urlimport.1132A072-01AA-451B-8ED4-BEE6BC01BD97</string>
</dict>
</plist>
