<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currentthemeuid</key>
	<string>4C8B5587-4565-43BE-AE25-27271744F0E8</string>
	<key>darkthemeuid</key>
	<string>theme.fileimport.E9968186-3B17-4206-8D56-3B9E76D6E433</string>
</dict>
</plist>
