<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>forceemptytrash</string>
	<key>connections</key>
	<dict>
		<key>4AE5EC02-D33E-4119-B1B1-3D3B0F53A3C2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCDD0A46-3D06-4344-A187-C75F43D63053</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AE5EC02-D33E-4119-B1B1-3D3B0F53A3C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Leo Marihart</string>
	<key>description</key>
	<string>Force Empties Trash via Unix BOOGA BOOGA.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Force Empty Trash</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>forceempty</string>
				<key>subtext</key>
				<string>Force Empties Trash via Unix BOOGA BOOGA.</string>
				<key>text</key>
				<string>Force empty trash</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B11B132B-4A61-4C05-8F4F-2111F454E6C6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>2</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>No regrets. No remorse. It's gone. RIP.</string>
				<key>title</key>
				<string>Trash was force emptied.</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CCDD0A46-3D06-4344-A187-C75F43D63053</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  do shell script "sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash" with administrator privileges
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>4AE5EC02-D33E-4119-B1B1-3D3B0F53A3C2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Went to the Alfred forums for a force empty trash WF. Found one that didn't work with no support. Scratched up this one from reading the forums myself. 

This was made with no coffee on a whim. Do as thou wilt.

WF icon: "Anger Symbol" emoji from OSX. Because you'll be using it in... in...

Sebbo's AppleScript scrounged from here:

http://www.alfredforum.com/topic/1474-force-empty-trash/

Note that I don't delete the Apple System logs like he does. If you want to go BACK to the forums and append the rest of the command to do so to the NSApplescript part. I'd recommend NOT doing that, tho'.

*** 

Modified to actually work on any volume based on Sebbo's snippet on the forums, bundled into an NSApplescript to get the auth dialog needed by sudo to work magic. 

Tested with a locked folder on ~/Desktop:
Original v2 Force Empty Trash AlfW: FAIL
 Sebbo's command properly embedded: PASS

No auth dialog, no magic. BOOGA BOOGA.

-Leo</string>
	<key>uidata</key>
	<dict>
		<key>4AE5EC02-D33E-4119-B1B1-3D3B0F53A3C2</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>B11B132B-4A61-4C05-8F4F-2111F454E6C6</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>CCDD0A46-3D06-4344-A187-C75F43D63053</key>
		<dict>
			<key>ypos</key>
			<real>70</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://leoofborg.tumblr.com/</string>
</dict>
</plist>
