<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>acb.cleardownloadsdesktop</string>
	<key>connections</key>
	<dict>
		<key>234D1031-267C-4465-9851-9DAA44356F5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0A35F7D-7119-4033-A3FA-1CBB26FB8DEE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>53AFB0C4-A1B1-4D7C-93A3-C22334F57B40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>877AB5CA-B95D-42DB-87FC-22D47948809B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>877AB5CA-B95D-42DB-87FC-22D47948809B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95CCD79B-818A-43E5-B511-94CA9C66FB7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>B0A35F7D-7119-4033-A3FA-1CBB26FB8DEE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC275B48-1A9E-482A-9381-73910AD41BDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Andrew Curtis-Black</string>
	<key>description</key>
	<string>Trashes the contents of the Downloads folder, or the Desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Clear Downloads &amp; Desktop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>desktop</string>
				<key>subtext</key>
				<string>Trash the contents of the Desktop</string>
				<key>text</key>
				<string>Clear desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>234D1031-267C-4465-9851-9DAA44356F5D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>mv ~/Downloads/* ~/.Trash</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>877AB5CA-B95D-42DB-87FC-22D47948809B</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>subtext</key>
				<string>Trash the contents of the Downloads folder</string>
				<key>text</key>
				<string>Clear downloads</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>53AFB0C4-A1B1-4D7C-93A3-C22334F57B40</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your desktop has been cleared</string>
				<key>title</key>
				<string>Clear desktop</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CC275B48-1A9E-482A-9381-73910AD41BDF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Your downloads folder has been emptied</string>
				<key>title</key>
				<string>Clear downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>95CCD79B-818A-43E5-B511-94CA9C66FB7D</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>mv ~/Desktop/* ~/.Trash</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B0A35F7D-7119-4033-A3FA-1CBB26FB8DEE</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>234D1031-267C-4465-9851-9DAA44356F5D</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>53AFB0C4-A1B1-4D7C-93A3-C22334F57B40</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>877AB5CA-B95D-42DB-87FC-22D47948809B</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>95CCD79B-818A-43E5-B511-94CA9C66FB7D</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>B0A35F7D-7119-4033-A3FA-1CBB26FB8DEE</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>CC275B48-1A9E-482A-9381-73910AD41BDF</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
