<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>carlosnz.tinypng</string>
	<key>connections</key>
	<dict>
		<key>2C6C003C-2D3D-4277-8A6B-5E16EC6DD18B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4CCC31-E917-448C-969D-EC6EC08E27FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>45A0B462-4D84-484C-82AB-2067E1421F2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4CCC31-E917-448C-969D-EC6EC08E27FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5B8297B7-BEE8-4E53-977E-DB9DD165AA99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4CCC31-E917-448C-969D-EC6EC08E27FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>79DA7BF7-85C5-4BA1-A3FA-7881E14F4C81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51BAF258-3D98-43AB-B678-C3ADA4846EFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9ED1D70B-B019-4D43-9649-98049B84034E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45A0B462-4D84-484C-82AB-2067E1421F2B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AFABFC10-82FA-44D0-A9A4-0FA6D0E5FA2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA4CCC31-E917-448C-969D-EC6EC08E27FB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F39D2CB0-00AB-49BF-87BA-8DFCA8E1100C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2C6C003C-2D3D-4277-8A6B-5E16EC6DD18B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F4BCEDA7-ED68-4C64-91D8-D9AC7FE4B7F2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AFABFC10-82FA-44D0-A9A4-0FA6D0E5FA2E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Carl Smith (@CarlosNZ)</string>
	<key>description</key>
	<string>Compress PNG images with the online TinyPNG service</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Tiny PNG</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>./tinypng.sh "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AFABFC10-82FA-44D0-A9A4-0FA6D0E5FA2E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>TinyPNG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CA4CCC31-E917-448C-969D-EC6EC08E27FB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Compress with TinyPNG</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>F4BCEDA7-ED68-4C64-91D8-D9AC7FE4B7F2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tinypng</string>
				<key>subtext</key>
				<string>Compress selected Finder items with online TinyPNG.com service</string>
				<key>text</key>
				<string>Compress with TinyPNG</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F39D2CB0-00AB-49BF-87BA-8DFCA8E1100C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>63</integer>
				<key>script</key>
				<string>./tinypng_finder_selection.sh</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2C6C003C-2D3D-4277-8A6B-5E16EC6DD18B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tinypng_getkey</string>
				<key>subtext</key>
				<string>Visit TinyPNG.com to get your own personal API key</string>
				<key>text</key>
				<string>Get new API key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79DA7BF7-85C5-4BA1-A3FA-7881E14F4C81</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open https://tinypng.com/developers</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51BAF258-3D98-43AB-B678-C3ADA4846EFF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>key="{query}"

#Storage directory for API key
PREFS="$HOME/Library/Application Support/Alfred 2/Workflow Data/carlosnz.tinypng"

#Create storage folder
mkdir -p "$PREFS"

#Save user's key to storage file
echo "$key"&gt;"$PREFS/api_key"

#Notify
echo "New API key applied:"$'\n'"$key"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>45A0B462-4D84-484C-82AB-2067E1421F2B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tinypng_config</string>
				<key>subtext</key>
				<string>Paste your new API key into Alfred</string>
				<key>text</key>
				<string>Enter/Change API key</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9ED1D70B-B019-4D43-9649-98049B84034E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>notify</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>5B8297B7-BEE8-4E53-977E-DB9DD165AA99</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>=============
TinyPNG v1.3
6 October 2015
=============

This workflow will take a set of PNG or JPG files and compress them using the online TinyPNG service.

For more info on what it does to the image, see http://tinypng.com/

Usage:
------

This workflow works as either File Action or a regular keyword process.

Either:
1) Select the PNG or JPG files you want processed (in Finder or Alfred), then select the "Compress with TinyPNG" File action in Alfred.
2) Select the PNG or JPG files you want processed in Finder, launch Alfred, then use the “tinypng" keyword.

The processed files will be downloaded to a TinyPNG folder on your Desktop, along with a Report showing the success/failure of each file, and how much it has been compressed by.

The process may take some time, especially if you have selected several large image files, but you will notified on completion. However, if you have Growl/growlnotify installed, you will get a per-file notification as it progresses.

Please provide feedback at: http://www.alfredforum.com/topic/1520-tiny-png-workflow/

Note on Heavy Usage
-------------------
The TinyPNG API has a monthly limit of 500 file processes per month. As you can imagine, once a few people are using the workflow substantially, this won’t take long to reach. I have provided a default API key built-in so you can use the workflow immediately. However, if you intend to continue using it in any substantial capacity I strongly suggest you visit https://tinypng.com/developers and register for your own API key. You can jump there with the keyword “tinypng_getkey” in Alfred. Once you’ve got your key, save it into the workflow configuration with the keyword  “tinypng_config”.


Changelog
---------

v1.3
- Now supports JPG files as well as PNG (new TinyPNG service feature)

v1.2
- Now gives better error reporting on failures. (You’ll be able to tell if the monthly limit has been exceeded.)
- Consolidated processing to a single bash script. The Finder Selection script now just parses the input and sends it to the main script. (Irrelevant to user experience)
- User can enter their own API key to prevent reaching the Free account limit when using a shared key.
- Updated icons (from TinyPNG.com)

v1.1	
- Updated to use new TinyPNG.com API
- Can now run on Finder selection using regular keyword (as well as File Action)

v1.0
- Initial release</string>
	<key>uidata</key>
	<dict>
		<key>2C6C003C-2D3D-4277-8A6B-5E16EC6DD18B</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>45A0B462-4D84-484C-82AB-2067E1421F2B</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>51BAF258-3D98-43AB-B678-C3ADA4846EFF</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>5B8297B7-BEE8-4E53-977E-DB9DD165AA99</key>
		<dict>
			<key>ypos</key>
			<real>540</real>
		</dict>
		<key>79DA7BF7-85C5-4BA1-A3FA-7881E14F4C81</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>9ED1D70B-B019-4D43-9649-98049B84034E</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>AFABFC10-82FA-44D0-A9A4-0FA6D0E5FA2E</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CA4CCC31-E917-448C-969D-EC6EC08E27FB</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F39D2CB0-00AB-49BF-87BA-8DFCA8E1100C</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>F4BCEDA7-ED68-4C64-91D8-D9AC7FE4B7F2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://geekzone.philosophicalzombie.net/alfred</string>
</dict>
</plist>
