<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.spr.base64image</string>
	<key>connections</key>
	<dict>
		<key>0024C9F8-F4E3-4BB9-B397-2E07870CF6A5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D7A3484-DBA3-42DF-8C71-4AC9AE8BD52C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0151A26E-03F5-4F7F-ABBF-08EF9BF7D265</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0024C9F8-F4E3-4BB9-B397-2E07870CF6A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>A74F6E1D-0E3E-4930-833E-3C6C62C11076</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0024C9F8-F4E3-4BB9-B397-2E07870CF6A5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shawn Patrick Rice</string>
	<key>description</key>
	<string>Base 64 Encodes an Image</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Base64 Image</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>b64</string>
				<key>scopes</key>
				<array/>
				<key>title</key>
				<string>Base 64 Encode an Image</string>
				<key>types</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>0151A26E-03F5-4F7F-ABBF-08EF9BF7D265</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0D7A3484-DBA3-42DF-8C71-4AC9AE8BD52C</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>php convert.php "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0024C9F8-F4E3-4BB9-B397-2E07870CF6A5</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<true/>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.jpeg</string>
					<string>public.png</string>
				</array>
				<key>name</key>
				<string>Convert to Base64</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>A74F6E1D-0E3E-4930-833E-3C6C62C11076</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0024C9F8-F4E3-4BB9-B397-2E07870CF6A5</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>0151A26E-03F5-4F7F-ABBF-08EF9BF7D265</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>0D7A3484-DBA3-42DF-8C71-4AC9AE8BD52C</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A74F6E1D-0E3E-4930-833E-3C6C62C11076</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
